<a href="https://colab.research.google.com/github/SalinSharma666/Data-Science-Projects/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dictionaries**

Dictionaries are mutable, ordered, indexable data types in Python that can store unique as we as duplicate values.

The syntax is {key:value,key:value,...}.

In [1]:
a = {'a':'apple','b':'ball','c':'cat','d':'dog'}
b = {}

print(type(a)) #key is the index in dictionaries
print(a['a'])
print(a['c'])

<class 'dict'>
apple
cat

In [5]:
a = {'a':'apple','b':'Ball','c':'cat','a':'dog'}

print(a) #a dictionary must have unique keys, if repeated, takes last value. In this case, python took the last value of the dictionary as key 'a' is repeated.

{'a': 'dog', 'b': 'Ball', 'c': 'cat'}

No concatenation of multiplication of dictionaries is allowed.

In [6]:
a = {'a':'apple','b':'Ball','c':'cat','A':'apple'}

for i in a:
  print(i) #prints keys

a
b
c
A

In [7]:
for i in a.values():
  print(i) #prints values

apple
Ball
cat
apple

In [8]:
for i in a.items():
  print(i) #prints both keys and values

('a', 'apple')
('b', 'Ball')
('c', 'cat')
('A', 'apple')

In [11]:
l = []

a = {'a':'apple','b':'ball','c':'cat','d':'dog'}

for i in a.items():
  l.append(i)
print(l)
print(dict(l))

[('a', 'apple'), ('b', 'ball'), ('c', 'cat'), ('d', 'dog')]
{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [12]:
d = {}

d['a'] = 'apple'
d['b'] = 'ballistic missile'
d['c'] = 'catagorical data'

d

{'a': 'apple', 'b': 'ballistic missile', 'c': 'catagorical data'}

In [13]:
data = {}

n = int(input('Enter a number = '))
for i in range(n):
  name = input("Enter name is = ")
  phone = int(input("Enter your phone number"))

  data[phone] = name

print(data)

Enter a number = 3
Enter name is = Ram
Enter your phone number9801818196
Enter name is = Salin
Enter your phone number9801818195
Enter name is = Shyam
Enter your phone number9851024569
{9801818196: 'Ram', 9801818195: 'Salin', 9851024569: 'Shyam'}

In [15]:
info = {}

num1 = int(input("Enter the number of people that whose data needs to be stored = "))

for i in range(num1):
  name = input("Enter name of the person is = ")
  address = input("Enter address of the person is = ")

  info[name] = address

print(info)

Enter the number of people that whose data needs to be stored = 10
Enter name of the person is = Salin
Enter address of the person is = Nakhhu
Enter name of the person is = Sunita
Enter address of the person is = Kusunti
Enter name of the person is = Robijan
Enter address of the person is = Khusibu
Enter name of the person is = Mamta
Enter address of the person is = Bhaktapur
Enter name of the person is = Krishna
Enter address of the person is = Dwarika
Enter name of the person is = Apsara
Enter address of the person is = Duwakot
Enter name of the person is = Anisha
Enter address of the person is = Kumaripati
Enter name of the person is = Mahadev
Enter address of the person is = Kailash Parvat
Enter name of the person is = Ram
Enter address of the person is = Ayodhya
Enter name of the person is = Gita
Enter address of the person is = Koteshwor
{'Salin': 'Nakhhu', 'Sunita': 'Kusunti', 'Robijan': 'Khusibu', 'Mamta': 'Bhaktapur', 'Krishna': 'Dwarika', 'Apsara': 'Duwakot', 'Anisha': 'Kumaripati', 'Mahadev': 'Kailash Parvat', 'Ram': 'Ayodhya', 'Gita': 'Koteshwor'}

In [16]:
l = []
a = {'a':'apple','b':'Ball','c':'cat','A':'apple'}

for i in a.items():
  l.append(list(i))
l[0][1] = 'anthropology'

print(dict(l))

{'a': 'anthropology', 'b': 'Ball', 'c': 'cat', 'A': 'apple'}

In [17]:
a = {'Salin': 'Nakhhu', 'Sunita': 'Kusunti', 'Robijan': 'Khusibu', 'Mamta': 'Bhaktapur'}

print(list(a))

['Salin', 'Sunita', 'Robijan', 'Mamta']

In [19]:
list(a.values())

['Nakhhu', 'Kusunti', 'Khusibu', 'Bhaktapur']

In [20]:
list(a.items())

[('Salin', 'Nakhhu'),
 ('Sunita', 'Kusunti'),
 ('Robijan', 'Khusibu'),
 ('Mamta', 'Bhaktapur')]

In [2]:
info = {}

n = int((input("Enter number of data = ")))

for i in range(n):
  name = input("Enter name is  = ")
  phone = int(input("Enter phone number = "))

  info[name] = phone

print(info)

Enter number of data = 2
Enter name is  = Salin
Enter phone number = 9801818196
Enter name is  = Sunita
Enter phone number = 9801818192
{'Salin': 9801818196, 'Sunita': 9801818192}

In [3]:
mdb = {}

n = int(input("Enter n = "))

for i in range(n):
  name = input("Enter name = ")
  ncell_num = int(input("Enter your Ncell number = "))
  ntc_num = int(input("Enter your NTC number = "))

  mdb[name] = [ncell_num,ntc_num]

print(mdb)

Enter n = 3
Enter name = Salin
Enter your Ncell number = 9808214052
Enter your NTC number = 9851023654
Enter name = Sunita
Enter your Ncell number = 9801818192
Enter your NTC number = 9851025478
Enter name = Ram
Enter your Ncell number = 9801818198
Enter your NTC number = 9851023659
{'Salin': [9808214052, 9851023654], 'Sunita': [9801818192, 9851025478], 'Ram': [9801818198, 9851023659]}

In [4]:
mdb['Salin'][1] = 982020202020
mdb

{'Salin': [9808214052, 982020202020],
 'Sunita': [9801818192, 9851025478],
 'Ram': [9801818198, 9851023659]}

In [7]:
mdb = {'ID':[],'Name':[],'Job Title':[]}

n = int(input("Enter number of data = "))
for i in range(n):
  id = int(input("Enter employee ID = "))
  name = input("Enter name of the employee = ")
  job_title = input("Enter the job title = ")

  mdb['ID'].append(id)
  mdb['Name'].append(name)
  mdb['Job Title'].append(job_title)

print(mdb)

Enter number of data = 3
Enter employee ID = 01
Enter name of the employee = Ram
Enter the job title = Sr. Manager
Enter employee ID = 02
Enter name of the employee = Shyam
Enter the job title = Jr. Executive
Enter employee ID = 03
Enter name of the employee = Hari
Enter the job title = Vice President
{'ID': [1, 2, 3], 'Name': ['Ram', 'Shyam', 'Hari'], 'Job Title': ['Sr. Manager', 'Jr. Executive', 'Vice President']}