<a href="https://colab.research.google.com/github/SalinSharma666/Data-Science-Projects/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LIST**

Lists are indexable, ordered, mutable data type in Python.

In [ ]:
a = list()
b = []
c = ["Aristocrat", "bureaucrat"]

print(type(a))
print(type(b))
print(type(c))

<class 'list'>
<class 'list'>
<class 'list'>

**Slicing**

Slicing is when we extract a certain portion of the data as per our requirement.

In [ ]:
a = ["Ram","Shyam","Apple","Goat","Dog","Egg","Fish","Home","Ice","James","Kite","Life"]

In [ ]:
print(a[0])
print(a[0:5])
print(a[0:8:2])
print(a[:-3])

Ram
['Ram', 'Shyam', 'Apple', 'Goat', 'Dog']
['Ram', 'Apple', 'Dog', 'Fish']
['Ram', 'Shyam', 'Apple', 'Goat', 'Dog', 'Egg', 'Fish', 'Home', 'Ice']

List Operations

In [ ]:
a = ["A","B","C"]
b = [1,2,3]
c = a+b

print(c)

['A', 'B', 'C', 1, 2, 3]

In [ ]:
a = [2,4,6]

print(a*2)

[2, 4, 6, 2, 4, 6]

Create

In [ ]:
list = []

n = int(input("Enter n = "))
for i in range(n):
  x = input("Enter objects = ")
  list = list+[x]
print(list)

Enter n = 3
Enter objects = Salin
Enter objects = Henry
Enter objects = Tyler
['Salin', 'Henry', 'Tyler']

In [ ]:
l1 = []

p = int(input('Enter p = '))

for i in range(p):
  q = input('Enter items = ')
  l1 = l1+[q]

print(l1)

Enter p = 3
Enter items = Bag
Enter items = Pen
Enter items = Copy
['Bag', 'Pen', 'Copy']

Read

In [ ]:
a = ["Box","Pen","Pencil"]

for i in a:
  print(i)

Box
Pen
Pencil

Update

In [ ]:
a = ["Box","Pen","Pencil"]

a[1] = "Den"

print(a)

['Box', 'Den', 'Pencil']

Delete

In [ ]:
a = ["Ram","Shyam","Apple","Goat","Dog","Egg","Fish","Home","Ice","James","Kite","Life"]

del a[5]

print(a)

['Ram', 'Shyam', 'Apple', 'Goat', 'Dog', 'Fish', 'Home', 'Ice', 'James', 'Kite', 'Life']

In [ ]:
a = ["Ram","Shyam","Apple","Goat","Dog","Egg","Fish","Home","Ice","James","Kite","Life"]

del a[1:6]

print(a)

['Ram', 'Fish', 'Home', 'Ice', 'James', 'Kite', 'Life']

In [ ]:
l = []

n = int(input("Enter a number = "))

for i  in range(n):
  a = int(input("Enter number = "))
  l = l + [a]

print(l)

Enter a number = 8
Enter number = 55
Enter number = 99
Enter number = 44
Enter number = 33
Enter number = 5245
Enter number = 524
Enter number = 895
Enter number = 986532
[55, 99, 44, 33, 5245, 524, 895, 986532]

In [ ]:
print(max(l))
print(min(l))

986532
33

In [ ]:
l.sort()
print(l)

[33, 44, 55, 99, 524, 895, 5245, 986532]

In [ ]:
l.reverse()
print(l)

[986532, 5245, 895, 524, 99, 55, 44, 33]

In [ ]:
a = ["Ram","Shyam","Apple","Goat","Dog","Egg","Fish","Home","Ice","James","Kite","Life"]

a.remove("Ram")

print(a)

['Shyam', 'Apple', 'Goat', 'Dog', 'Egg', 'Fish', 'Home', 'Ice', 'James', 'Kite', 'Life']

In [ ]:
del a[2]

print(a)

['Shyam', 'Apple', 'Dog', 'Egg', 'Fish', 'Home', 'Ice', 'James', 'Kite', 'Life']

In [ ]:
#extend

a = ["Bag","Pen","Paper"]
b = [2,4,65]

a.extend(b)
print(a)

['Bag', 'Pen', 'Paper', 2, 4, 65]

In [ ]:
#append
a = ["Bag","Pen","Paper"]
b = 65

a.append(b)

print(a)

['Bag', 'Pen', 'Paper', 65]

In [ ]:
a = ["Bag","Pen","Paper"]
b = [2,4,65]

a.append(b)

print(a)

['Bag', 'Pen', 'Paper', [2, 4, 65]]

In [ ]:
#insert

a  = ["Bag","Pen","Paper"]

a.insert(1,"Rock")

print(a)

['Bag', 'Rock', 'Pen', 'Paper']

In [ ]:
#pop
a.pop(1)

'Pen'

In [ ]:
a = ["Ram","Shyam","Apple","Goat","Dog","Egg","Fish","Home","Ice","James","Kite","Life"]

a.index("Apple")

2

List Inside List

In [1]:
a = [[1,3,5],
 [2,4,6],
  [7,9,11],
   [8,10,11]]

In [3]:
print(a)
print(len(a))
print(a[0])
print(a[0][2])

[[1, 3, 5], [2, 4, 6], [7, 9, 11], [8, 10, 11]]
4
[1, 3, 5]
5

In [6]:
a = [["Ram",34,"Doctor"],["Shyam",45,"Engineer"]]
b = [["Salin",23,"Data Scientist"]]

c = a+b

print(c)

[['Ram', 34, 'Doctor'], ['Shyam', 45, 'Engineer'], ['Salin', 23, 'Data Scientist']]

In [8]:
print(c[1][2])

Engineer

In [9]:
data = []

n = int(input("Enter a number = "))

for i in range(n):
  name = input("Enter name = ")
  add = input("Enter address = ")
  ph = int(input("Enter number = "))
  data.append([name,add,ph])

print(data)

Enter a number = 3
Enter name = Ram
Enter address = Bara
Enter number = 911
Enter name = Shyam
Enter address = Ktm
Enter number = 100
Enter name = Hari
Enter address = Kailali
Enter number = 901
[['Ram', 'Bara', 911], ['Shyam', 'Ktm', 100], ['Hari', 'Kailali', 901]]

In [13]:
for i in data:
  if "Ram" in i:
    print(i)

In [15]:
name = input("Enter name you want to search = ")

for i in data:
  if name in i:
    print(i)

Enter name you want to search = Shyam

In [16]:
a = [['Ram', 34, 'Doctor'], ['Shyam', 45, 'Engineer'], ['Salin', 23, 'Data Scientist']]

del a[1][2]

print(a)

[['Ram', 34, 'Doctor'], ['Shyam', 45], ['Salin', 23, 'Data Scientist']]

In [17]:
a = [['Ram', 34, 'Doctor'], ['Shyam', 45, 'Engineer'], ['Salin', 23, 'Data Scientist']]

a[2][0] = "Sunita"

print(a)

[['Ram', 34, 'Doctor'], ['Shyam', 45, 'Engineer'], ['Sunita', 23, 'Data Scientist']]

In [18]:
a = []
b = int(input("Enter number of rows = "))
for i in range(b):
  num1 = int(input("Enter number1 = "))
  num2 = int(input("Enter number2 = "))
  a.append([num1,num2])

print(a)

Enter number of rows = 3
Enter number1 = 12
Enter number2 = 21
Enter number1 = 54
Enter number2 = 45
Enter number1 = 56
Enter number2 = 65
[[12, 21], [54, 45], [56, 65]]

In [19]:
a = []
b = int(input("Enter number of rows = "))
for i in range(b):
  n = int(input("Enter number of cols = "))
  for i in range(n):
    name = input("Enter name = ")
    a.append([name])
print(a)

Enter number of rows = 2
Enter number of cols = 2
Enter name = Salin
Enter name = Ram
Enter number of cols = 1
Enter name = Hari
[['Salin'], ['Ram'], ['Hari']]