<a href="https://colab.research.google.com/github/SalinSharma666/Data-Science-Projects/blob/main/Practise_Notebooks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

General

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
a = 10
b = "10"

In [ ]:
print(type(b))

<class 'str'>

In [ ]:
c = 20

In [ ]:
print(a*c)

200

In [ ]:
a = 5
b = 6

if a>b:
  print("A is greater than B")
else:
  print ("B is greater than A")

B is greater than A

In [ ]:
a = "Hello"
b = "World"
print(a+" " + b)

Hello World

In [ ]:
a = "Hello World\n"
print(a*5)

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
a = input("Enter name is ")
print(a)

Enter name is Salin
Salin

In [ ]:
a = input("Enter your name")
print("Your name is", a)

Enter your nameRam
Your name is Ram

In [ ]:
m = int(input("Enter mass of the body = "))
v = int(input("Enter velocity of the body = "))

ke = 1/2*m*v**2

print("THe kinetic energy is", ke)

Enter mass of the body = 450
Enter velocity of the body = 50
THe kinetic energy is 562500.0

Conditional Statemants

In [ ]:
a = int(input("Enter any number"))
if a%2==0:
  print("The entered number is even")
else:
  print ("The entered number is odd")

Enter any number18513865
The entered number is odd

In [ ]:
a = int(input("Enter number 1 "))
b = int(input("Enter number 2 "))

if a>b:
  print("1 is greater than 2")
elif b>a:
  print("2 is greater than 1")
else:
  print("Both are equal")

Enter number 1 787878
Enter number 2 878787
2 is greater than 1

Loop

In [ ]:
for i in range(5,50,5):
  print(i)

5
10
15
20
25
30
35
40
45

In [ ]:
a = int(input("Enter a  = "))
for i in range(1,11):
  print(a*i)

Enter a  = 2
2
4
6
8
10
12
14
16
18
20

In [ ]:
a = int(input("Enter a  = "))
for i in range(1,11):
  print(a, "*" ,i, "=" ,a*i)

Enter a  = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
x = int(input("Enter x = "))
for i in range (1,21):
  print(x, "*", i, "=", x*i)

Enter x = 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
2 * 13 = 26
2 * 14 = 28
2 * 15 = 30
2 * 16 = 32
2 * 17 = 34
2 * 18 = 36
2 * 19 = 38
2 * 20 = 40