<a href="https://colab.research.google.com/github/SalinSharma666/Data-Science-Projects/blob/main/Python_Practise_Notebooks_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

General

In [13]:
a = 10
print(type(a))

<class 'str'>

In [14]:
a = 10
b = "10"

In [15]:
print(type(b))

<class 'str'>

In [16]:
c = 20

In [17]:
print(a*c)

200

In [18]:
a = 5
b = 6

if a>b:
  print("A is greater than B")
else:
  print ("B is greater than A")

B is greater than A

In [30]:
a = "Hello"
b = "World"
print(a+" " + b)

Hello World

In [31]:
a = "Hello World\n"
print(a*5)

Hello World
Hello World
Hello World
Hello World
Hello World

In [32]:
a = input("Enter name is ")
print(a)

Enter name is Ram
Ram

In [33]:
a = input("Enter your name")
print("Your name is", a)

Enter your nameRam
Your name is Ram

In [34]:
m = int(input("Enter mass of the body = "))
v = int(input("Enter velocity of the body = "))

ke = 1/2*m*v**2

print("THe kinetic energy is", ke)

Enter mass of the body = 20
Enter velocity of the body = 50
THe kinetic energy is 25000.0

Conditional Statemants

In [35]:
a = int(input("Enter any number"))
if a%2==0:
  print("The entered number is even")
else:
  print ("The entered number is odd")

Enter any number465132
The entered number is even

In [36]:
a = int(input("Enter number 1 "))
b = int(input("Enter number 2 "))

if a>b:
  print("1 is greater than 2")
elif b>a:
  print("2 is greater than 1")
else:
  print("Both are equal")

Enter number 1 84651
Enter number 2 75421
1 is greater than 2

Loop

In [38]:
for i in range(5,50,5):
  print(i)

5
10
15
20
25
30
35
40
45

In [39]:
a = int(input("Enter a  = "))
for i in range(1,11):
  print(a*i)

Enter a  = 4
4
8
12
16
20
24
28
32
36
40

In [40]:
a = int(input("Enter a  = "))
for i in range(1,11):
  print(a, "*" ,i, "=" ,a*i)

Enter a  = 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [29]:
x = int(input("Enter x = "))
for i in range (1,21):
  print(x, "*", i, "=", x*i)

Enter x = 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
3 * 13 = 39
3 * 14 = 42
3 * 15 = 45
3 * 16 = 48
3 * 17 = 51
3 * 18 = 54
3 * 19 = 57
3 * 20 = 60

In [28]:
s = 0
a = int(input("Enter a number = "))
for i in range(a):
  s = s+i
print(s)

Enter a number = 1
0

In [27]:
a = 0
while a<=5:
  print(a)
  a += 0.7

0
0.7
1.4
2.0999999999999996
2.8
3.5
4.2
4.9

In [26]:
s = str()
i = 0
p = int(input("Enter a number = "))

while i<p:
  name  = input("Enter name = ")
  ph = int(input("Enter phone number = "))
  s = s + name + " " + str(ph) + "\n"
  i = i+1

print(s)

Enter a number = 1
Enter name = Salin
Enter phone number = 9801818196
Salin 9801818196

Factorial

In [24]:
f = 1
i = 1
n = int(input("Enter a number = "))

while i<=n:
  f = f*i
  i = i+1

print(f)

Enter a number = 5
120

**Control Statements**

Break & Continue

In [23]:
for i in range(20):
  if i==9:
    break
  print(i)

0
1
2
3
4
5
6
7
8

In [22]:
for i in range(50):
  if i==11:
    continue
  print(i)

0
1
2
3
4
5
6
7
8
9
10
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

STRING

In [21]:
x = "Hello"
y = " World"
z = ", I am Python."
aa = x+y+z #concatenation

print(aa)

Hello World, I am Python.

In [19]:
a = "The world is beautiful"

print(a[0])
print(a[0:3])
print(a[1:10:3])

T
The
hwl

In [20]:
print(a[::-1])

lufituaeb si dlrow ehT

In [12]:
string1 = input("Enter a word = ").lower()

if string1 == string1[::-1]:
  print("The given word is a palindrome")

else:
  print("The given word is not a palindrome")

Enter a word = dad
The given word is a palindrome

String formatting

In [11]:
name = input("Enter your name = ")
ph = input("Enter your phone number = ")

print(f"Your name is {name}. Your phone number is {ph}.")

Enter your name = Salin
Enter your phone number = 9801818196
Your name is Salin. Your phone number is 9801818196.

In [10]:
a = "Pneumonoultramicroscopicsilicovolacnoconiosis"
print(len(a))

45

In [9]:
a = "Ram, Shyam, Ram, Shyam, Hari"
print(a.count("Ram"))

2

In [8]:
#replace
a = "Ram, Shyam, Ram, Shyam, Hari, Gita"
a.replace("Gita","Sita")

'Ram, Shyam, Ram, Shyam, Hari, Sita'

In [7]:
a = "Ram Shyam Hari Sita Rita Ram"
a[0:-3] #Slicing

#The expression a[0:-3] is used to slice the string a from the first character (index 0) up to the third character from the end (index -3). 
#In this case, the string a is "Ram Shyam Hari Sita Rita Ram", so a[0:-3] would return "Ram Shyam Hari Sita Rita".

'Ram Shyam Hari Sita Rita '

In [6]:
a  = "App Cat Ball Dog God"
a = a.replace(input("Enter the word you wish to replace = ")," ")
print(a)

Enter the word you wish to replace = Dog
App Cat Ball   God

In [5]:
a = input("Enter a word = ").lower()
print(a)

Enter a word = SALIN
salin

In [2]:
a = "Python"
print(a[0:-2]) #Both these codes do the same thing
print(a[:-2])

Pyth
Pyth

In [3]:
a = "Python"
print(a[-2])

o

In [4]:
a = "Roji"
b = " Mamta"
c = a+b

print(c)

Roji Mamta

**LIST**

Lists are indexable, ordered, mutable data type in Python.

In [42]:
a = list()
b = []
c = ["Aristocrat", "bureaucrat"]

print(type(a))
print(type(b))
print(type(c))

<class 'list'>
<class 'list'>
<class 'list'>

**Slicing**

Slicing is when we extract a certain portion of the data as per our requirement.

In [43]:
a = ["Ram","Shyam","Apple","Goat","Dog","Egg","Fish","Home","Ice","James","Kite","Life"]

In [44]:
print(a[0])
print(a[0:5])
print(a[0:8:2])
print(a[:-3])

Ram
['Ram', 'Shyam', 'Apple', 'Goat', 'Dog']
['Ram', 'Apple', 'Dog', 'Fish']
['Ram', 'Shyam', 'Apple', 'Goat', 'Dog', 'Egg', 'Fish', 'Home', 'Ice']

List Operations

In [45]:
a = ["A","B","C"]
b = [1,2,3]
c = a+b

print(c)

['A', 'B', 'C', 1, 2, 3]

In [46]:
a = [2,4,6]

print(a*2)

[2, 4, 6, 2, 4, 6]

Create

In [47]:
list = []

n = int(input("Enter n = "))
for i in range(n):
  x = input("Enter objects = ")
  list = list+[x]
print(list)

Enter n = 3
Enter objects = Salin
Enter objects = Henry
Enter objects = Tyler
['Salin', 'Henry', 'Tyler']

In [48]:
l1 = []

p = int(input('Enter p = '))

for i in range(p):
  q = input('Enter items = ')
  l1 = l1+[q]

print(l1)

Enter p = 3
Enter items = Bag
Enter items = Pen
Enter items = Copy
['Bag', 'Pen', 'Copy']

Read

In [49]:
a = ["Box","Pen","Pencil"]

for i in a:
  print(i)

Box
Pen
Pencil

Update

In [52]:
a = ["Box","Pen","Pencil"]

a[1] = "Den"

print(a)

['Box', 'Den', 'Pencil']

Delete

In [53]:
a = ["Ram","Shyam","Apple","Goat","Dog","Egg","Fish","Home","Ice","James","Kite","Life"]

del a[5]

print(a)

['Ram', 'Shyam', 'Apple', 'Goat', 'Dog', 'Fish', 'Home', 'Ice', 'James', 'Kite', 'Life']

In [54]:
a = ["Ram","Shyam","Apple","Goat","Dog","Egg","Fish","Home","Ice","James","Kite","Life"]

del a[1:6]

print(a)

['Ram', 'Fish', 'Home', 'Ice', 'James', 'Kite', 'Life']

In [56]:
l = []

n = int(input("Enter a number = "))

for i  in range(n):
  a = int(input("Enter number = "))
  l = l + [a]

print(l)

Enter a number = 8
Enter number = 55
Enter number = 99
Enter number = 44
Enter number = 33
Enter number = 5245
Enter number = 524
Enter number = 895
Enter number = 986532
[55, 99, 44, 33, 5245, 524, 895, 986532]

In [58]:
print(max(l))
print(min(l))

986532
33

In [61]:
l.sort()
print(l)

[33, 44, 55, 99, 524, 895, 5245, 986532]

In [62]:
l.reverse()
print(l)

[986532, 5245, 895, 524, 99, 55, 44, 33]

In [66]:
a = ["Ram","Shyam","Apple","Goat","Dog","Egg","Fish","Home","Ice","James","Kite","Life"]

a.remove("Ram")

print(a)

['Shyam', 'Apple', 'Goat', 'Dog', 'Egg', 'Fish', 'Home', 'Ice', 'James', 'Kite', 'Life']

In [67]:
del a[2]

print(a)

['Shyam', 'Apple', 'Dog', 'Egg', 'Fish', 'Home', 'Ice', 'James', 'Kite', 'Life']

In [71]:
#extend

a = ["Bag","Pen","Paper"]
b = [2,4,65]

a.extend(b)
print(a)

['Bag', 'Pen', 'Paper', 2, 4, 65]

In [74]:
#append
a = ["Bag","Pen","Paper"]
b = 65

a.append(b)

print(a)

['Bag', 'Pen', 'Paper', 65]

In [72]:
a = ["Bag","Pen","Paper"]
b = [2,4,65]

a.append(b)

print(a)

['Bag', 'Pen', 'Paper', [2, 4, 65]]

In [73]:
#insert

a  = ["Bag","Pen","Paper"]

a.insert(1,"Rock")

print(a)

['Bag', 'Rock', 'Pen', 'Paper']

In [75]:
#pop
a.pop(1)

'Pen'

In [77]:
a = ["Ram","Shyam","Apple","Goat","Dog","Egg","Fish","Home","Ice","James","Kite","Life"]

a.index("Apple")

2