<a href="https://colab.research.google.com/github/SalinSharma666/Data-Science-Projects/blob/main/Python_Practise_Notebooks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

General

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
a = 10
b = "10"

In [ ]:
print(type(b))

<class 'str'>

In [ ]:
c = 20

In [ ]:
print(a*c)

200

In [ ]:
a = 5
b = 6

if a>b:
  print("A is greater than B")
else:
  print ("B is greater than A")

B is greater than A

In [ ]:
a = "Hello"
b = "World"
print(a+" " + b)

Hello World

In [ ]:
a = "Hello World\n"
print(a*5)

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
a = input("Enter name is ")
print(a)

Enter name is Salin
Salin

In [ ]:
a = input("Enter your name")
print("Your name is", a)

Enter your nameRam
Your name is Ram

In [ ]:
m = int(input("Enter mass of the body = "))
v = int(input("Enter velocity of the body = "))

ke = 1/2*m*v**2

print("THe kinetic energy is", ke)

Enter mass of the body = 450
Enter velocity of the body = 50
THe kinetic energy is 562500.0

Conditional Statemants

In [ ]:
a = int(input("Enter any number"))
if a%2==0:
  print("The entered number is even")
else:
  print ("The entered number is odd")

Enter any number18513865
The entered number is odd

In [ ]:
a = int(input("Enter number 1 "))
b = int(input("Enter number 2 "))

if a>b:
  print("1 is greater than 2")
elif b>a:
  print("2 is greater than 1")
else:
  print("Both are equal")

Enter number 1 787878
Enter number 2 878787
2 is greater than 1

Loop

In [ ]:
for i in range(5,50,5):
  print(i)

5
10
15
20
25
30
35
40
45

In [ ]:
a = int(input("Enter a  = "))
for i in range(1,11):
  print(a*i)

Enter a  = 2
2
4
6
8
10
12
14
16
18
20

In [ ]:
a = int(input("Enter a  = "))
for i in range(1,11):
  print(a, "*" ,i, "=" ,a*i)

Enter a  = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
x = int(input("Enter x = "))
for i in range (1,21):
  print(x, "*", i, "=", x*i)

Enter x = 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
2 * 13 = 26
2 * 14 = 28
2 * 15 = 30
2 * 16 = 32
2 * 17 = 34
2 * 18 = 36
2 * 19 = 38
2 * 20 = 40

In [ ]:
s = 0
a = int(input("Enter a number = "))
for i in range(a):
  s = s+i
print(s)

Enter a number = 5
10

In [ ]:
a = 0
while a<=5:
  print(a)
  a += 0.7

0
0.7
1.4
2.0999999999999996
2.8
3.5
4.2
4.9

In [ ]:
s = str()
i = 0
p = int(input("Enter a number = "))

while i<p:
  name  = input("Enter name = ")
  ph = int(input("Enter phone number = "))
  s = s + name + " " + str(ph) + "\n"
  i = i+1

print(s)

Enter a number = 2
Enter name = Salin
Enter phone number = 9878987898
Enter name = Ram
Enter phone number = 7856214514
Salin 9878987898
Ram 7856214514

Factorial

In [2]:
f = 1
i = 1
n = int(input("Enter a number = "))

while i<=n:
  f = f*i
  i = i+1

print(f)

Enter a number = 10
3628800

**Control Statements**

Break & Continue

In [3]:
for i in range(20):
  if i==9:
    break
  print(i)

0
1
2
3
4
5
6
7
8

In [4]:
for i in range(50):
  if i==11:
    continue
  print(i)

0
1
2
3
4
5
6
7
8
9
10
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

STRING

In [8]:
x = "Hello"
y = " World"
z = ", I am Python."
aa = x+y+z #concatenation

print(aa)

Hello World, I am Python.

In [9]:
a = "The world is beautiful"

print(a[0])
print(a[0:3])
print(a[1:10:3])

T
The
hwl

In [10]:
print(a[::-1])

lufituaeb si dlrow ehT

In [20]:
string1 = input("Enter a word = ").lower()

if string1 == string1[::-1]:
  print("The given word is a palindrome")

else:
  print("The given word is not a palindrome")

Enter a word = Radar
The given word is a palindrome

String formatting

In [19]:
name = input("Enter your name = ")
ph = input("Enter your phone number = ")

print(f"Your name is {name}. Your phone number is {ph}.")

Enter your name = Salin
Enter your phone number = 98018181818
Your name is Salin. Your phone number is 98018181818

In [24]:
a = "Pneumonoultramicroscopicsilicovolacnoconiosis"
print(len(a))

45

In [25]:
a = "Ram, Shyam, Ram, Shyam, Hari"
print(a.count("Ram"))

2

In [26]:
#replace
a = "Ram, Shyam, Ram, Shyam, Hari, Gita"
a.replace("Gita","Sita")

'Ram, Shyam, Ram, Shyam, Hari, Sita'

In [27]:
a = "Ram Shyam Hari Sita Rita Ram"
a[0:-3] #Slicing

#The expression a[0:-3] is used to slice the string a from the first character (index 0) up to the third character from the end (index -3). 
#In this case, the string a is "Ram Shyam Hari Sita Rita Ram", so a[0:-3] would return "Ram Shyam Hari Sita Rita".

'Ram Shyam Hari Sita Rita '

In [30]:
a  = "App Cat Ball Dog God"
a = a.replace(input("Enter the word you wish to replace = ")," ")
print(a)

Enter the word you wish to replace = Cat
App   Ball Dog God

In [31]:
a = input("Enter a word = ").lower()
print(a)

Enter a word = ASDFGHJKL
asdfghjkl

In [34]:
a = "Python"
print(a[0:-2]) #Both these codes do the same thing
print(a[:-2])

Pyth
Pyth

In [35]:
a = "Python"
print(a[-2])

o