<a href="https://colab.research.google.com/github/SalinSharma666/Data-Science-Projects/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Set**

Sets are unindexable, unordered data types that are mutable but do not store dupicate values.

In [2]:
s = {2}

print(type(s))

<class 'set'>

In [ ]:
s = set()

In [3]:
s = {"Apple","Ball","Cat","Dog"}
print(s) #As sets are not indexable, upon printing, the values could by in any random order.

{'Apple', 'Ball', 'Dog', 'Cat'}

In [4]:
s = {"Ram","Shyam","Hari","Krishna","Gopal"}
s

{'Gopal', 'Hari', 'Krishna', 'Ram', 'Shyam'}

In [5]:
s[0]

TypeError: ignored

In [6]:
s = {"Ram","Shyam","Hari","Krishna","Gopal"}
list(set(s))

['Hari', 'Shyam', 'Ram', 'Krishna', 'Gopal']

In [7]:
s = set()
s.add('Ram')
s.add('Hari')
s.add("Bishnu")

print(s)

{'Hari', 'Ram', 'Bishnu'}

In [8]:
set1 = set()

set1.add("Apple")
set1.add("Ball")
set1.add("App")
set1.add("Ale")
set1.add("pale")

print(set1)

{'Apple', 'pale', 'Ball', 'Ale', 'App'}

In [9]:
set1.remove('pale')
set1

{'Ale', 'App', 'Apple', 'Ball'}

No concatenation or multiplication is allowed in sets

In [12]:
set1 = {"Even","Odd","Prime","Composite","Real","Whole","Integer","Fraction","Decimal","PErcentage","Imaginary"}
set2 = {2,5,16,1,5,65,-1,0.6,6,'i'}

set1.union(set2)

{-1,
 0.6,
 1,
 16,
 2,
 5,
 6,
 65,
 'Composite',
 'Decimal',
 'Even',
 'Fraction',
 'Imaginary',
 'Integer',
 'Odd',
 'PErcentage',
 'Prime',
 'Real',
 'Whole',
 'i'}

In [13]:
set1 = {"Coke","Momo","Chowmein","Egg","Rice","Coke"}
print(set1)

{'Egg', 'Momo', 'Chowmein', 'Coke', 'Rice'}

In [14]:
set1 = {"Coke","Momo","Chowmein","Egg","Rice","Coke"}
set2 - {1,2,3,4,5,6}

set1.union(set2)

{-1, 0.6, 1, 16, 2, 5, 6, 65, 'Chowmein', 'Coke', 'Egg', 'Momo', 'Rice', 'i'}

In [15]:
set1 = {"Coke","Momo","Chowmein","Egg","Rice","Coke"}
set2 = {"Coke","Momo","Chowmein","Burger","Chips"}

set1.union(set2) #union function retrieves all values except duplicates.

{'Burger', 'Chips', 'Chowmein', 'Coke', 'Egg', 'Momo', 'Rice'}

In [16]:
set1.intersection(set2) #intersection function will only retrieve common values in the given sets

{'Chowmein', 'Coke', 'Momo'}

In [17]:
set1 = {"Coke","Momo","Chowmein","Egg","Rice","Coke"}
set2 = {"Coke","Momo","Chowmein","Burger","Chips"}
set3 = {"Fanta","Coke","Burger","Momo"}

set1.intersection(set2).intersection(set3)

{'Coke', 'Momo'}

In [18]:
set1 = {"Momo","Chowmein","Coke"}
set2 = {"Momo","Burger","Sizzler"}

set1-set2

{'Chowmein', 'Coke'}